# Load the shared object
useDynLib(gds2bgen,
    SEQ_BGEN_Info, SEQ_BGEN_Import
)

# Export the following names
exportPattern("^seq*")

# Import
import(methods)
import(gdsfmt)
importFrom(utils, flush.console)
importFrom(SeqArray, seqStorageOption, seqParallel)
